* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Arial, sans-serif;
    color: #000000;
    margin: 0px;
}

main {
    display: block;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
}

.banner_text {
    padding: 12%;
    font-size: 30px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner_image {
    background-image: url("../uploads/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
}

.single-book-in-grid:hover {
    background-color: rgb(209, 249, 250);
}